/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/*
	Using 18/1.333 modular scale
	http://www.modularscale.com/?18&px&1.333&web&text
*/

html {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding: 1.222em 0.917em; 
  padding-top: 0;
  background-color: #12234F;
  color: #FEFEFE;
  line-height: 1;
}
body {
  font-size: 1.125em;	/* ~ 18px */
  line-height: 1.222em;	/* ~ 22px - 1 gridline */
}
img, video, audio {
        display: block;
        max-width: 100%;
}
h1 {
	font-size: 1.77688em;	/*31,984px*/
	line-height: 1.37569em; /*44px @ 31.984px*/
	color: #E6772E;
}
h2 {
	font-size: 1.333em; /*23.994px*/
	line-height: 1.8338em; /*44px @ 23.994px*/
	color:#E6772E;
}
h4 {
	font-size: 1.125em;	/* ~ 18px */
  line-height: 2.444em;
 	color:#E6772E; 
}
p,
ul {
	padding-bottom: 1.222em;
}
li {
	padding-bottom: 0.6111em; /*half gridline*/
}
li:last-child {
	padding-bottom: 0;
}
footer {
	font-size: 0.722em; /*13.503px*/
	text-align: center;
	padding-top: 4em;
}

.content ul {
	list-style-type: disc;
	padding-left: 0.917em;
}
.content a {
	color:#E6772E;
}
.nav {
  margin-left: 0;
  padding-bottom: 0;
}
nav li {
	text-align: center;
	display:inline-block;
	padding-bottom: 0;
	padding: 0.5em;
	margin-bottom: 0.5em;
}
/*
.nav li {
  float: left;
  width: 30%;
  list-style-type: none;
  padding-bottom: 0;
  padding: 0.2222em;
}
.nav a {
  display: block;
  text-align: center;
  line-height: 1;
  padding: 1em 0.3333em;
  color: #96DAF1;
}
*/
.hst {
	background-color: #355D98;
	padding: 0 0.6111em 0 0.6111em;
	margin: 0;

}

@media screen and (min-width: 345px) {
	.content {
		margin: 0% 5% 0% 10%;
	.nav a {
    padding: 0.6111em;
  	}
	}
}
@media screen and (min-width: 745px) {
	.content {
		padding-top: 5%;
	}
} 